@model UserErrorModel

@{
    ViewBag.Title = "Error page";
    Layout = "_Layout";
}
<div align="center">
    <h1 style="color: firebrick">@Model.ErrorMessage</h1>
    <p style="color: gray; font-size: 17px">@Model.ErrorDescription</p>
    <input type="button" value="GO BACK" onclick="history.back()"
           style="border-radius: 10px; background-color: lightgray; 
                                       width: 100px; height: 30px; 
                                       font-weight: bold;
                                       border-color: black;">
</div>