@using Microsoft.AspNetCore.Html
@model List<SelectListItem>
@{
    ViewData["Title"] = "Select Page";
}

<div align="center">
    @using (Html.BeginForm("ShowData", "Database"))
    {
        <p style="color: gray; font-size: 20px">Select a substance from the dropdown list to view its properties</p>
        <table>
            <tr>
                <th style="padding: 10px"><b>SELECT SUBSTANCE:</b></th>
                <th style="padding: 10px">
                    <select id="compound" name="compound" style="width: 250px; height: 30px;border-color: green">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            HtmlString html = new HtmlString(Model[i].Value);
                            <option value=@(Model[i].Value) class="compound">@html</option>
                        }
                    </select>
                </th>
                <th style="padding: 10px">
                    <input type="submit" id="submitId" value="SUBMIT"
                           style="border-radius: 10px; background-color: white; text-align: center; 
                           width: 100px; height: 30px; font-weight: bold; border-color: black"/>
                </th>
                <th><input type="button" value="GO BACK" onclick="history.back()" 
                                                               style="border-radius: 10px; background-color: lightgray; 
                                                                                           width: 100px; height: 30px; 
                                                                                           font-weight: bold;
                                                                                           border-color: black;"></th>
            </tr>
        </table>
    }
</div>
